span {
    color: orange;
}

ul li li {
    color: blue;
}

li:last-child {
    font-family: cursive
    
}
li :nth-child(1) {
text-decoration: underline;
}

[ data-location="west"] {
    font-size: 30px;
}

li:not([ data-location="center"]):first-letter {
    color: yellow
}
